# --- REGULI BACKEND  ---
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.jar
*.war

### IDE Configs ###
.idea
.vscode/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans & Build ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# --- REGULI FRONTEND  ---
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native & Security
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Sistem
.DS_Store
Thumbs.db
*.pem

# Local env
.env*.local
*.tsbuildinfo

# Generated folders
app-example
/ios
/android

# Properties
application.properties